<!DOCTYPE html>
<html>
    <head>
    <title>Orders</title>
    </head>
    <body>
        <h2>Welcome to Flatiron Open Orders</h2>

        <ol>
            <li>T-Shirt</li>
            <li>Notebook</li>
            <li>Pen</li>
            <li>Macbook Air</li>
        </ol>
    </body>
</html>