<!DOCTYPE html>
<html>
<head>
  <title>Flatiron Store</title>
</head>
<body>
    <h1>Flatiron Widgets: Open Orders</h1>
    <ol>
      <li>order 1</li>
      <li>order 2</li>
    </ol>
    <%= yield %>
</body>
</html>
